<!DOCTYPE html>
<html lang="ko">
<% include ../layout/head %>

<body>
    <% include ../layout/nav %>

    <div class="container">
        <h1>자유게시판</h1>
        <div class="row mt-4">
            <div class="col-10 offset-1">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr class="text-center">
                            <th>글번호</th>
                            <th width="70%">제목</th>
                            <th>글쓴이</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i = 0; i < list.length; i++) { %>
                        <tr class="text-center">
                            <td><%= list[i].id %></td>
                            <td>
                                <a href="/board/view/<%= list[i].id %>">
                                    <%= list[i].title %>
                                </a>
                            </td>
                            <td><%= list[i].name %></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row mt-3 justify-content-center d-flex">
            <ul class="pagination">

                <% if(p.nowPage == 1) { %>
                <li class="page-item">
                    <a class="btn btn-primary" href="/board?p=1">1</a>
                </li>
                <% } else {%>
                <li class="page-item">
                    <a class="page-link" href="/board?p=1">1</a>
                </li>
                <% } %>

                <% if(p.nowPage !=  1 && p.nowPage >= 3) {  %>
                ...
                <li class="page-item">
                    <a class="page-link" href="/board?p=<%= p.nowPage - 1 %>"><%= p.nowPage - 1 %></a>
                </li>
                <% } %>

                <% if(p.nowPage >= 2) { %>
                <li class="page-item">
                    <a class="btn btn-primary" href="/board?p=<%= p.nowPage %>"><%= p.nowPage %></a>
                </li>
                <% } %>
                <% if(p.nowPage + 1 < p.endPage) { %>
                <li class="page-item">
                    <a class="page-link" href="/board?p=<%= p.nowPage + 1 %>"><%= p.nowPage + 1 %></a>
                </li>
                <% } %>
                <% if(p.nowPage <= p.endPage - 2) { %>
                ...
                <% } %>


                <% if(p.nowPage != p.endPage) { %>
                <li class="page-item">
                    <a class="page-link" href="/board?p=<%= p.totalPage %>"><%= p.totalPage %></a>
                </li>
                <% } %>
            </ul>
        </div>

        <% if(locals.user) { %>
        <div class="row mt-3">
            <div class="col-10 offset-1 text-right">
                <a href="/board/write" class="btn btn-primary">글쓰기</a>
            </div>
        </div>
        <% } %>
    </div>
</body>

</html>